{% extends "base.html" %}

{% block page_title %}Squash{% endblock %}

{% block title %}Squash{% endblock %}

{% block nav_main %}
  <a href="{% url 'squash:new_match' %}">New match</a>
  <a href="{% url 'squash:new_session' %}">New session</a>
  <a href="{% url 'squash:match_list' %}">Matches</a>
  <a href="{% url 'squash:player_list' %}">Players</a>
  <a href="{% url 'squash:leaderboard' %}">Leaderboard</a>
  <a href="{% url 'squash:h2h' %}">H2H</a>
  <a href="{% url 'squash:analysis' %}">Analysis</a>
{% endblock %}
